
.card {
    display: inline-block;
    position: relative;
    margin: 10px 15px 20px 0;
    color: white;
    font-size: 12px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

.card, .front, .back {
    width: 150px;
    height: 200px;
}

.card.flip .flip-container {
    transform: rotateY(180deg);
}

.flip-container {
    transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
     border-radius: 6px;
     box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,0.2), 0px 0px 6px 1px rgba(0,0,0,0.3);
}

.back {
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%), url("marketing-bg.png") 0 0 repeat;
    z-index: 2;
    transform: rotateY(0deg);
}


.front {
    background-color: white;
    transform: rotateY(180deg);
}

.back span {
        display: block;
    background: url("https://cdn.comparethemarket.com/meerkat/global/toy-images2/meerkat-toys.png") 0 0 no-repeat;
    background-size: 70%;
    width: 100%;
    height: 58px;
    position: relative;
    top: 58px;
    right: -23px;
}

.back span:after {
    content: " ";
    width: 110px;
    height: 1px;
    background-color: white;
    display: block;
    position: absolute;
    bottom: 0;
}

.back span b {
    position: absolute;
    width: 100%;
    bottom: -15px;
    right: 3px;
}

.ma-card-One .front {
    background: white url("http://cdn.comparethemarket.com/meerkat/0.0.0.0/Templates/Styles/Meerkats/PageFiles/113/Alek_profile.png") no-repeat 10px 4px;
}

.ma-card-Two .front {
    background: white url("http://cdn.comparethemarket.com/meerkat/0.0.0.0/Templates/Styles/Meerkats/PageFiles/115/sergei.png") no-repeat 0 0;
}
.ma-card-Three .front {
    background: white url("http://cdn.comparethemarket.com/meerkat/0.0.0.0/Templates/Styles/Meerkats/PageFiles/109/Yakov.png") no-repeat 0 0;
}
.ma-card-Four .front {
    background: white url("http://cdn.comparethemarket.com/meerkat/0.0.0.0/Templates/Styles/Meerkats/PageFiles/109/bogdan.png") no-repeat 0 0;
}
.ma-card-Five .front {
    background: white url("http://cdn.comparethemarket.com/meerkat/0.0.0.0/Templates/Styles/Meerkats/PageFiles/109/maiya.png") no-repeat 0 0;
}

.ma-card-Six .front {
    background: white url("http://cdn.comparethemarket.com/meerkat/0.0.0.0/Templates/Styles/Meerkats/PageFiles/109/Vassily.png") no-repeat 0 0;
}
